
body
{
	background-color: #e6ccff

}
/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #cccccc
;
  overflow-x: hidden;
}
/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #d1d1e0;
  color: black;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.admintitle{
	font-family:century Gothic;
        background-color: #cccccc;
	color:#6600cc;
	margin-left: 50px;
	margin-right: 50px;
	height: 130px;  
	line-height: 130px;
}
.dashboard{
	background-color: #743d8e; 
	color:#000;
	margin-left: 50px;
	margin-right: 50px;
	height: 130px;  
	line-height: 130px;
	
}

.button {
	font-family:century Gothic; 
	
	position: absolute;
	top: 56%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.btn{
	background-color: #743d8e;
     border-radius: 5px;
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
background-color: #696969;
color: #000;
}