/*form style*/
body 
{
	
	 background-image: url(pic4.jpeg);
	 background-color: white;
	
}
h1
{
	text-align: center;
	font-size: 40px;
	color: 	#FFFAFA;
}
form
{
	margin: 20px auto;
	width: 320px;
	color: #FF4500;
}
input
{
	padding: 10px;
	font-size: inherit;
}
input[type="text"]
{
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border:2px #FF8C00;
	background: #FFFACD;
}

input[type="password"]
{
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border:2px #FF4500;
	background: #FFFACD;
}


input[type="submit"]
{
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border:2px #FFFACD;

}

input[type="submit"]
{
	width: 344px;
	height: 45px;
	background-color: #FF4500;
	color: #FFDAB9;
}
input:focus
{
	background: #FFDAB9;
}
